@font-face {
    font-family: 'Tenada';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*css 확인용*/
* {
    border: 1px solid black;
}


html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    min-width: 1000px;
    background-color: #FFFFFF;
}


/* 사용자 속성 지정 */
:root {
    /* 1. 색상*/
    /* --primary-color: #FF8B37;
    --secondary-color: #AEE6E6;
    --sub-color: #FFDA77; */
    --primary-color: #011F3F;
    --secondary-color: #FEF2BF;
    --sub-color: #f5bdce;
    --gray-color: #C0C0C0;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}