<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.spair.model.dao.CommentDao">

	<resultMap type="Comment" id="commentMap">
		<result column="comment_id" property="commentId"/>
		<result column="post_id" property="postId"/>
		<result column="user_id" property="userId"/>
		<result column="content" property="content"/>
		<result column="status" property="status"/>
		<result column="created_date" property="createdDate"/>
		<result column="modified_date" property="modifiedDate"/>
		<result column="parent_id" property="parentId"/>
	</resultMap>

	<!-- 댓글 등록 -->
	<insert id="insert" parameterType="Comment">
		INSERT INTO comment (post_id, user_id, content, status, created_date, parent_id) 
		VALUES (#{postId}, #{userId}, #{content}, #{status}, #{createdDate}, #{parentId}) ;
	</insert>
	
	<!-- 댓글 수정 -->
	<update id="modify" parameterType="Comment">
		UPDATE comment
		SET content = #{content}, status = #{status}, modified_date = #{modifiedDate}
		WHERE comment_id = #{commentId} ;
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE 
		FROM comment
		WHERE comment_id = #{commentId} ;
	</delete>
	
</mapper>