<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.spair.model.dao.PostDao">

	<!-- 게시글 등록 -->
	<insert id="insert" parameterType="Post">
		INSERT INTO post (userId, title, content, status, createdDate, centerId, exerciseType, price, gender, recruitmentNum)
		VALUES (#{userId}, #{title}, #{content}, #{status}, #{createdDate}, #{centerId}, #{exerciseType}, #{price}, #{gender}, #{recruitmentNum}) ;
	</insert>
	
	
	<!-- 게시글 수정 -->
	<update id="modify" parameterType="Post">
		UPDATE post
		SET title = #{title}, content = #{content}, status = #{status}, modifiedDate = #{modifiedDate}, centerId = #{centerId}, exerciseType = #{exerciseType}, price = #{price}, gender = #{gender}, recruitmentNum = #{recruitmentNum} 
		WHERE postId = #{postId} ;
	</update>
	
	
	<!-- 게시글 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE 
		FROM post
		WHERE postId = #{postId}
	</delete>
	
	
	<!-- 전체 게시글 가져오기 (최신순 정렬) -->
	<select id="searchAll" resultType="Post">
		SELECT *
		FROM post, user
		WHERE post.userId = user.userId
		ORDER BY createdDate DESC ;
	</select>
	
	
	<!-- 우리 동네에 등록된 게시글 가져오기 (최신순 정렬) -->
	<select id="townSearchAll" parameterType="int" resultType="Post">
		SELECT *
		FROM post
		WHERE centerId IN <![CDATA[(SELECT centerId
			FROM sportsCenter 
			WHERE (6371*acos(cos(radians(#{latitude}))*cos(radians(latitude))*cos(radians(longitude) 
			-radians(#{longitude}))+sin(radians(#{latitude}))*sin(radians(latitude)))) <= 1000)]]> ;
	</select>
	
	
	<!-- 특정 게시글 상세보기 -->
	<select id="search" parameterType="int" resultType="Post">
		SELECT *
		FROM post
		WHERE postId = #{postId} ;
	</select>
	
</mapper>