<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.spair.model.dao.PostDao">

	<resultMap type="Post" id="postMap">
		<result column="post_id" property="postId"/>
		<result column="user_id" property="userId"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="status" property="status"/>
		<result column="created_date" property="createdDate"/>
		<result column="modified_date" property="modifiedDate"/>
		<result column="center_id" property="centerId"/>
		<result column="exercise_type" property="exerciseType"/>
		<result column="price" property="price"/>
		<result column="gender" property="gender"/>
		<result column="recruitment_num" property="recruitmentNum"/>
		<collection property="user" resultMap="userMap"/>
		<collection property="sportsCenter" resultMap="sportsCenterMap"/>
	</resultMap>
	
	<resultMap type="User" id="userMap">
		<result column="user_id" property="userId"/>
		<result column="nickname" property="nickname"/>
	</resultMap>
	
	<resultMap type="SportsCenter" id="sportsCenterMap">
		<result column="center_id" property="centerId" />
		<result column="road_address" property="roadAddress"/>
		<result column="latitude" property="latitude" />
		<result column="longitude" property="longitude" />
	</resultMap>

	<!-- 게시글 등록 -->
	<insert id="insert" parameterType="Post">
		INSERT INTO post (user_id, title, content, status, created_date, center_id, exercise_type, price, gender, recruitment_num)
		VALUES (#{userId}, #{title}, #{content}, #{status}, #{createdDate}, #{centerId}, #{exerciseType}, #{price}, #{gender}, #{recruitmentNum}) ;
	</insert>
	
	
	<!-- 게시글 수정 -->
	<update id="modify" parameterType="Post">
		UPDATE post
		SET title = #{title}, content = #{content}, status = #{status}, modified_date = #{modifiedDate}, price = #{price}, gender = #{gender}, recruitment_num = #{recruitmentNum} 
		WHERE post_id = #{postId} ;
	</update>
	
	
	<!-- 게시글 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE 
		FROM post
		WHERE post_id = #{postId}
	</delete>
	
	
	<!-- 전체 게시글 가져오기 (최신순 정렬) -->
	<select id="searchAll" resultMap="postMap">
		SELECT post.*, user.nickname, sports_center.road_address, sports_center.latitude, sports_center.longitude
		FROM post
		INNER JOIN user
		ON post.user_id = user.user_id
		INNER JOIN sports_center
		ON post.center_id = sports_center.center_id
		ORDER BY post.created_date DESC;
	</select>
	
	
	<!-- 우리 동네에 등록된 게시글 가져오기 (최신순 정렬) -->
	<select id="townSearchAll" parameterType="double" resultMap="postMap">
		SELECT post.*, user.nickname, sports_center.road_address
		FROM post
		INNER JOIN user
		ON post.user_id = user.user_id
		INNER JOIN sports_center
		ON post.center_id = sports_center.center_id
		WHERE post.center_id IN <![CDATA[(SELECT center_id
			FROM sports_center 
			WHERE (6371*acos(cos(radians(#{latitude}))*cos(radians(latitude))*cos(radians(longitude) 
			-radians(#{longitude}))+sin(radians(#{latitude}))*sin(radians(latitude)))) <= 1)]]>
		ORDER BY post.created_date DESC;
	</select>
	
	
	<!-- 특정 게시글 상세보기 -->
	<select id="search" parameterType="int" resultMap="postMap">
		SELECT post.*, user.nickname, sports_center.road_address
		FROM post
		INNER JOIN user
		ON post.user_id = user.user_id
		INNER JOIN sports_center
		ON post.center_id = sports_center.center_id
		WHERE post_id = #{postId} ;
	</select>
	
</mapper>