<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.spair.model.dao.UserDao">
	
	<resultMap type="User" id="userMap">
		<result column="user_id" property="userId"/>
		<result column="login_id" property="loginId"/>
		<result column="nickname" property="nickname"/>
		<result column="name" property="name"/>
		<result column="gender" property="gender"/>
		<result column="address" property="address"/>
		<result column="latitude" property="latitude"/>
		<result column="longitude" property="longitude"/>
	</resultMap>

	<!-- userId로 user 찾기 -->
	<select id="search" parameterType="int">
		SELECT *
		FROM user
		WHERE user_id = #{userId};
	</select>
	
	<!-- 회원가입 -->
	<insert id="join" parameterType="User">
		INSERT INTO user (login_id, password, nickname, name, gender, address, latitude, longitude)
		VALUES (#{loginId}, #{password}, #{nickname}, #{name}, #{gender}, #{address}, #{latitude}, #{longitude}) ;
	</insert>
	
	<!-- 모든 회원 정보 반환 -->
	<select id="searchAll" resultMap="userMap">
		SELECT *
		FROM user ;
	</select>
	
</mapper>